:root {
    --background-color: rgb(14, 14, 14);
    --text-color: white;
    --gray-color: gray;
    --lightgray-color: lightgray;
    --border-color: rgba(143, 143, 143, 0.233);
    --highlight-color: rgba(173, 84, 255, 1);
}

body {
    margin: 0;
    padding: 0;
    background: var(--background-color) url('img/stars.jpg') no-repeat center center fixed;
    background-size: cover;
    color: var(--text-color);
    font-family: "Fira Code", monospace;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: left;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
}

.profile {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.profile-info h1 {
    font-size: 2em;
    margin: 0;
}

.badges {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.badge {
    font-size: 1.2em;
}

.subtitle, .current-status {
    font-size: 1em;
    color: var(--gray-color);
    margin: 5px 0;
}

.joined {
    font-size: 0.8em;
    color: var(--lightgray-color);
    margin: 5px 0;
}

.status-music {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.status, .music {
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 2px solid var(--border-color);
    padding: 10px;
    width: 48%;
}

.status {
    margin-right: 15px;
    height: 114px;
}

.status img, .song-image {
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

.username, .song-title {
    padding-top: 10px;
}

.link-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song-info {
    text-align: left;
    height: 114px;
}

.song-image {
    height: 50px;
    width: 50px;
    padding-top: 8px;
}

.song-title, .artist {
    margin: 0;
}

.song-title {
    font-size: 1em;
    color: var(--text-color);
}

.artist {
    font-size: 0.7em;
    color: var(--text-color);
}

.preview-button {
    font-family: "Fira Code", monospace;
    background: none;
    border: 2px solid var(--border-color);
    color: var(--text-color);
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.preview-button:hover {
    background-color: var(--highlight-color);
}

.icons {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 30px;
}

.icons a {
    margin: 0 10px;
}

.icons img {
    width: 30px;
    height: 30px;
    opacity: 1;
    transition: width 0.45s, height 0.45s, opacity 0.15s;
}

.icons img:hover {
    width: 45px;
    height: 45px;
}

.icons img:active {
    opacity: 0.4;
}

.welcome-msg {
    font-size: 0.8em;
    color: var(--gray-color);
    margin-top: 10px;
    text-align: center;
}
